[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=root
WorkingDirectory=/project
Environment="PATH=/project/venv/bin"
ExecStart=/project/venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app
[Install]
WantedBy=multi-user.target

